<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.sdk.cn.demo">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".WADemoApp"
        android:theme="@style/AppTheme">
        <!-- MEIZU SDK START -->
        <meta-data android:name="debug_mode"
            android:value="false" /> <!-- 调试开关，发布时候设置false -->
        <meta-data
            android:name="com.wa.sdk.MEIZU_APP_ID"
            android:value="3273876" />
        <meta-data
            android:name="com.wa.sdk.MEIZU_APP_KEY"
            android:value="7ffc9b1a326942f0a0cbd42d36cc1e73" />
        <!-- MEIZU SDK END -->
    </application>

</manifest>