<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wa.sdk.cn.demo">

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- 统计 -->
        <activity
            android:name=".tracking.TrackingActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".tracking.TrackingSendActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- 360 -->
        <activity
            android:name=".channels.Channel360Activity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Baidu -->
        <activity
            android:name=".channels.ChannelBaiduActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- UC -->
        <activity
            android:name=".channels.ChannelUCActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- 应用宝 -->
        <activity
            android:name=".channels.ChannelYSDKActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Hot Update -->
        <activity
            android:name=".HotUpdateActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- 支付 -->
        <activity
            android:name=".PaymentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- 排行 -->
        <activity
            android:name=".channels.Rank360Activity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name" />

        <!--&lt;!&ndash; 应用宝SDK接入 QQ接入配置 START &ndash;&gt;-->
        <!--&lt;!&ndash; 应用宝SDK接入 QQ接入配置 &ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.tencent.tauth.AuthActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->
        <!--<data android:scheme="tencent1105350078" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <!--&lt;!&ndash; TODO SDK接入 微信接入配置 START &ndash;&gt;-->
        <!--&lt;!&ndash; 注意：此处应改为 游com.ddtankfcb.hxsy.wxapixapi.WXEntryActivity &ndash;&gt;-->
        <!--&lt;!&ndash; 注意：此处应改为 游戏包名.diff &ndash;&gt;-->
        <!--<activity-->
        <!--android:name="com.tencent.tmgp.ddtankghw.wxapi.WXEntryActivity"-->
        <!--android:excludeFromRecents="true"-->
        <!--android:exported="true"-->
        <!--android:label="WXEntryActivity"-->
        <!--android:launchMode="singleTop"-->
        <!--android:taskAffinity="${PACKAGE_NAME}.diff">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->
        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--&lt;!&ndash; 注意：此处应改为 游戏的微信appid &ndash;&gt;-->
        <!--<data android:scheme="wxaaaa6871dd6c6857" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--&lt;!&ndash; 应用宝接入 QQ接入配置 END &ndash;&gt;-->

        <!-- 微信支付渠道需要 -->
        <activity
            android:name="com.ddtankfcb.angame.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信登录渠道需要 -->
        <activity
            android:name="com.ddtankfcb.angame.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".CscActivity" />

        <activity android:name=".ClientIdTestActivity" />

        <!-- sdk的appid -->
        <meta-data
            android:name="com.wa.sdk.APP_ID"
            android:value="f7f9a9d18da611e5a0be000d3a906774" />
        <!-- sdk的appkey -->
        <meta-data
            android:name="com.wa.sdk.APP_KEY"
            android:value="CFHF7nQCCaojCX6Sm4eT1GEIWRprimgX" />

        <!-- sdk平台请求的host地址，所有请求的前面公共部分 -->
        <meta-data
            android:name="com.wa.sdk.HTTP_BASE_URL"
            android:value="${SDK_HTTP_BASE_URL}" />
        <!-- PCL request http url（PCL数据收集相关请求的url，这个必须配置，以支持不同版本的api请求） -->
        <meta-data
            android:name="com.wa.sdk.track.BASE_URL"
            android:value="${SDK_TRACKING_HTTP_BASE_URL}" />

        <!-- 微信 START -->
        <!-- 微信 app id -->
        <meta-data
            android:name="com.wa.sdk.WEIXIN_APP_ID"
            android:value="wx8b397e6b3e85775c" />
        <!-- 微信 secret -->
        <meta-data
            android:name="com.wa.sdk.WEIXIN_SECRET"
            android:value="ff8e4c91da1a616b1fdd0b08015a2b6f" />
        <!-- 微信 END -->

        <!--aihelp-->
        <meta-data
            android:name="com.wa.sdk.AIHelp_appKey"
            android:value="GAMEHOLLYWOODHK_app_ae1237c5f12e44c08d29a2bea787bbf2" />
        <meta-data
            android:name="com.wa.sdk.AIHelp_domain"
            android:value="gamehollywoodhk@aihelp.net" />
        <meta-data
            android:name="com.wa.sdk.AIHelp_appId"
            android:value="gamehollywoodhk_platform_8c054d5b-803d-40f3-a263-730c0365bf7d" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.GET_TASKS" />

</manifest>